<!DOCTYPE html>
<html>
  <body>
    <h1>Artists You've Met</h1>
       
       <% @artist_met.each do |artist| %>
        <li><%= link_to artist.name, user_artist_path(@user, artist) %></li>

      <% end %>
      <br>
      <%= button_to "Home", user_path(@user) %>
  </body>
</html>