<!DOCTYPE html>

<html lang="html">
    <head>
        <meta charset="utf-8">
        <meta name="About App" content="About Event-Horizon">
        <title>About</title>
    </head>
    
    <body>
        <h1 id="title">About Event Horizon</h1>
        <hr>
        <div class="box">
            <h2>Overview</h2>
                <p>Event Horizon is an app that let's you index the collection of 
                artists you've seen live as well as the venues you've visited.
                When creating a new artist/venue you can choose to attach an already
                existing artist/venue or create a new one at the same time. This function
                links the artist and venue to create a more dynamic collection. Clicking
                on an artist or venue will show you what venues you've seen this artist at,
                or conversely what artists you've seen at this venue.</p>
            </div>
            <div class="box">
                <h2>Venue Rating</h2>
                <p> Another interesting function for <i>Event Horizon</i> is the rating of venues. 
                A venue can be rated along four main categories. Clicking the 'Rated Venues' page will 
                break down your rated venues and show you which venues top each category for you.
                    <ul>
                        <li><strong>Layout: </strong><i>How easy or difficult is it to maneuver through this venue? 
                        Are there bottleneck points or areas where view is substantially obstructed?</i></li><br>
                        <li><strong>Sound: </strong><i>How is the sound in this venue? Are sound levels consistent? Acoustics?</i></li><br>
                        <li><strong>Comfort: </strong><i>If there's seating: is it comfortable? If not: is the standing area clean or spacious?</i></li><br>
                        <li><strong>Prices: </strong><i>Are drinks/concessions outrageously expensive or affordable?</i></li><br>
                        <li><strong>Comments: </strong><i>Add any notes, comments, or tips about this venue that you'd like to record.</i></li><br>
                    </ul>
                </p>
            </div>
            <div class="box">
                <h2>Artist Meeting</h2>
                <p>If you're like me; you might want to meet the band. Maybe get a signature, picture, or just say "Hi". Checking this box on
                the Artist create or edit screen will log this into your profile. You can then view your "Met Artists" list to keep track.</p>
            </div>
            <div class="box">
                <h2>Event Tracking</h2>
                <p>The 'Upcoming Events' section is a separate portion of the app where you can add upcoming events that are saved and shared to the app where 
                you and other users can view and comment.
            </div>
    </body>
</html>