<!DOCTYPE html>
<html>
  <body>
    <h1 id=title>Top Rated Venues</h1>
  <hr>
  <div style="width: 100%; margin: 0 auto; overflow: auto; height: 600px">
    <div class="box">  
       
       <h2>Layout:</h2>
       <ol>
          <% @venue_layout.sort_by(&:layout).reverse.each do |venue| %>
            <li><%= link_to venue.name, user_venue_path(@user, venue) %> </li>
          <% end %>
       </ol>
    </div>

    <div class="box">  
    
       <h2>Sound:</h2>
       <ol>
          <% @venue_sound.sort_by(&:sound).reverse.each do |venue| %>
            <li><%= link_to venue.name, user_venue_path(@user, venue) %> </li>
          <% end %>
       </ol>
    </div>
    

    <div class="box">  
      <h2>Comfort:</h2>
      <ol>
       <% @venue_comfort.sort_by(&:comfort).reverse.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> </li>
       <% end %>
      </ol>
    </div>
    
   
    <div class="box">  
      <h2>Prices:</h2>
      <ol>
       <% @venue_prices.sort_by(&:prices).reverse.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> </li>
       <% end %>
      </ol>
    </div>
  </div>  

  </body>
</html>