@import "box.css";
@import "button.css";
@import "login-signup.css";
@import "title.css";

html body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Monoton', cursive;
  font-weight: 100;
  background-image: url("https://wallpapercave.com/wp/wp3358663.png");
  background-size: cover;
  background-attachment: fixed; 
}

.content {
  color: white;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
  font-size: 30px;
}

a:link{
  color: rgb(245, 247, 243);
}

.menu ul{
  border: white 5px;
  background-color: rgba(0, 0, 0, 0.639);
  border-style: ridge;
  padding: 10px;
  list-style-type: none;
  overflow: auto;
}

.menu li{
  float: left;
}

.menu li a{
  color: white;
  text-decoration: none;
  display: inline-block;
}
/*
a:visited {
  color: rgb(248, 9, 9);
  cursor: pointer;
  position: relative;
  border-radius: 3.75rem;
  line-height: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
}
*/

input {
    margin-bottom: 5px;
    background-color: #111111c2;
    color: white;
    border-radius: 1em;
    padding: 3px;
}

input[type='radio'] { 
  transform: scale(2);
  margin: 10px;
}

.checkbox_container input{
  color: silver;
  display: inline;
}

select{
  background-color: rgba(0, 0, 0, 0.578);
  color: white;
  border-radius: 1em;
  padding: 3px;
}

textarea{
  background-color: rgba(0, 0, 0, 0.578);
  color: white;
  border-radius: 1em;
  padding: 10px;
}

p {
    color: rgb(51, 50, 50);
    line-height: 120%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 700;
}

h1#app{
  background-color: black;
  border: 10px double yellow;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 0.1em;
  color:rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 100;
  filter: drop-shadow(8px 8px 8px yellow);
  margin-top: 0;
  margin-bottom: 0;
}

h1#app a{
  color: white;
}

h3#app{
  text-decoration: underline;
  float: auto;
  font-size: 3em;
  font-weight: 50;
  font-family: Brush Script MT, Brush Script Std, cursive;
  filter: drop-shadow(0 5px 5px black);
  margin-top: 0;
}

h3#show {
    font: Helvetica;
    background-color: rgba(169, 190, 240, 0.918);
    color: rgb(20, 38, 233);
    border-radius: .5rem;
    width: 200px;
    font-size: 25px;
}

div#header {
    text-align: center;
    padding-bottom: 0px;
    margin: auto;
}

div#header a:link{
  color: white;
}

div#header a:hover{
  color: gold;
}

#error_explanation{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  border: 5px;
  width: 300px;
  height: auto;
  border-style: dashed;
  background-color: yellow;
  margin-top: 10px;
}