body {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: medium;
    color: #000;
    background-color: rgba(117, 190, 218, 0.5);
}

a:link,
a:active,
a:visited {
    color: rebeccapurple;
}

input {
    margin-bottom: 5px;
}

p {
    line-height: 150%;
}

h1#app {
    text-decoration: underline;
    font-style: bold;
    font: Helvetica;
    background-color: rgba(52, 52, 52, 0.626);
    color: rgb(255, 232, 232);
}

h1#title {
    text-decoration: underline;
    font-style: italic;
    font: Helvetica;
    background-color: rgba(248, 233, 18, 0.918);
    color: rgb(43, 71, 91);
}

h2#top {
    text-decoration: underline;
    font: Geneva;
    background-color: rgb(72, 80, 123);
    color: rgb(168, 168, 172);
    animation: mymove 1s infinite;
}

h3#show {
    font: Helvetica;
    background-color: rgba(240, 231, 169, 0.918);
    color: rgb(29, 38, 214);
}

div#container {
    width: 860px;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

div#header {
    text-align: center;
    padding-bottom: 15px;
}

div#content {
    float: left;
    width: 450px;
    padding: 10px;
}

div#content h3 {
    margin-top: 15px;
}

div#login {
    border-style: outset;
    width: 300px;
    padding: 10px
}

ul#books {
    list-style-type: none;
}

ul#books li {
    line-height: 140%;
}

div#sidebar {
    width: 200px;
    margin-left: 380px;
}

ul#subjects {
    width: 700px;
    text-align: left;
    font-size: large;
    padding: 5px;
    background-color: #ececec;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

ul#list {
    text-align: left;
    font-size: large;
}

ul#subjects li {
    display: inline;
    padding-left: 5px;
}