<!DOCTYPE html>
<html>
    <head>
        <title>Event-Horizon</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="container">
            <div id="header">
                <% if logged_in? %>
                <h1 id="app">Event-Horizon</h1>
                <%end%>
        </div>

        <%= yield %>
    </body>
</html>

